body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black; 
    color: lightgreen; 
    padding: 15px; 
    font-size: 16pt;
    transition: 900ms;
}
header:hover {
    background: linear-gradient(to right , black, blue);
    color: red;
    padding: 10px;
    font-size: 16px;
    transition: 600ms;
}

footer {
    background-color: black; 
    color: lightgreen; 
    padding: 15px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right;
    transition: 900ms;
}

footer:hover {
    background: linear-gradient(to right , red, black);
    color: blue;
    padding: 10px;
    font-size: 16px;
    transition: 600ms;
}

a {
    text-decoration: none; 
    color: green; 
    transition: 900ms;
}

a:visited {
    color: yellowgreen;
    background-color: fuchsia;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    text-shadow: 5px 5px 2px black;
    transition: 300ms;
}

a:active {
    color: pink;
    background-color: green;
}

main {
    margin: 10px 20px;
}


